<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel tb_setpoing view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN MON_TAG_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_MON_TAG}  r-vertical-field" data-fieldname="MON_TAG" data-signal-error-for="MON_TAG{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="MON_TAG" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_MON_TAG}">
		
		{BEGIN MON_TAG_label}{$label tb_setpoing MON_TAG }{END MON_TAG_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$MON_TAG_value}	</div>

		
</div>


{END MON_TAG_fieldblock}
											
{BEGIN MON_USER_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_MON_USER}  r-vertical-field" data-fieldname="MON_USER" data-signal-error-for="MON_USER{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="MON_USER" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_MON_USER}">
		
		{BEGIN MON_USER_label}{$label tb_setpoing MON_USER }{END MON_USER_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$MON_USER_value}	</div>

		
</div>


{END MON_USER_fieldblock}
											
{BEGIN SET_DATA_DE_CADASTRO_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_DATA_DE_CADASTRO}  r-vertical-field" data-fieldname="SET_DATA_DE_CADASTRO" data-signal-error-for="SET_DATA_DE_CADASTRO{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="SET_DATA_DE_CADASTRO" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_SET_DATA_DE_CADASTRO}">
		
		{BEGIN SET_DATA_DE_CADASTRO_label}{$label tb_setpoing SET_DATA_DE_CADASTRO }{END SET_DATA_DE_CADASTRO_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$SET_DATA_DE_CADASTRO_value}	</div>

		
</div>


{END SET_DATA_DE_CADASTRO_fieldblock}
											
{BEGIN SET_MAX_T_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_MAX_T}  r-vertical-field" data-fieldname="SET_MAX_T" data-signal-error-for="SET_MAX_T{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="SET_MAX_T" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_SET_MAX_T}">
		
		{BEGIN SET_MAX_T_label}{$label tb_setpoing SET_MAX_T }{END SET_MAX_T_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$SET_MAX_T_value}	</div>

		
</div>


{END SET_MAX_T_fieldblock}
											
{BEGIN SET_MIN_T_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_MIN_T}  r-vertical-field" data-fieldname="SET_MIN_T" data-signal-error-for="SET_MIN_T{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="SET_MIN_T" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_SET_MIN_T}">
		
		{BEGIN SET_MIN_T_label}{$label tb_setpoing SET_MIN_T }{END SET_MIN_T_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$SET_MIN_T_value}	</div>

		
</div>


{END SET_MIN_T_fieldblock}
											
{BEGIN SET_MAX_U_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_MAX_U}  r-vertical-field" data-fieldname="SET_MAX_U" data-signal-error-for="SET_MAX_U{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="SET_MAX_U" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_SET_MAX_U}">
		
		{BEGIN SET_MAX_U_label}{$label tb_setpoing SET_MAX_U }{END SET_MAX_U_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$SET_MAX_U_value}	</div>

		
</div>


{END SET_MAX_U_fieldblock}
											
{BEGIN SET_MIN_U_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_MIN_U}  r-vertical-field" data-fieldname="SET_MIN_U" data-signal-error-for="SET_MIN_U{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="SET_MIN_U" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_SET_MIN_U}">
		
		{BEGIN SET_MIN_U_label}{$label tb_setpoing SET_MIN_U }{END SET_MIN_U_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$SET_MIN_U_value}	</div>

		
</div>


{END SET_MIN_U_fieldblock}
											
{BEGIN SET_LIGAR_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_LIGAR}  r-vertical-field" data-fieldname="SET_LIGAR" data-signal-error-for="SET_LIGAR{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="SET_LIGAR" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_SET_LIGAR}">
		
		{BEGIN SET_LIGAR_label}{$label tb_setpoing SET_LIGAR }{END SET_LIGAR_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$SET_LIGAR_value}	</div>

		
</div>


{END SET_LIGAR_fieldblock}
											
{BEGIN SET_DESLIGAR_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_DESLIGAR}  r-vertical-field" data-fieldname="SET_DESLIGAR" data-signal-error-for="SET_DESLIGAR{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="SET_DESLIGAR" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_SET_DESLIGAR}">
		
		{BEGIN SET_DESLIGAR_label}{$label tb_setpoing SET_DESLIGAR }{END SET_DESLIGAR_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$SET_DESLIGAR_value}	</div>

		
</div>


{END SET_DESLIGAR_fieldblock}
											
{BEGIN SET_TIPO_DE_CONTROLE_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_TIPO_DE_CONTROLE}  r-vertical-field" data-fieldname="SET_TIPO_DE_CONTROLE" data-signal-error-for="SET_TIPO_DE_CONTROLE{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="SET_TIPO_DE_CONTROLE" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_SET_TIPO_DE_CONTROLE}">
		
		{BEGIN SET_TIPO_DE_CONTROLE_label}{$label tb_setpoing SET_TIPO_DE_CONTROLE }{END SET_TIPO_DE_CONTROLE_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$SET_TIPO_DE_CONTROLE_value}	</div>

		
</div>


{END SET_TIPO_DE_CONTROLE_fieldblock}
											
{BEGIN SET_IP_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_IP}  r-vertical-field" data-fieldname="SET_IP" data-signal-error-for="SET_IP{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="SET_IP" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_SET_IP}">
		
		{BEGIN SET_IP_label}{$label tb_setpoing SET_IP }{END SET_IP_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$SET_IP_value}	</div>

		
</div>


{END SET_IP_fieldblock}
											
{BEGIN SET_NOME_DA_REDE_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_NOME_DA_REDE}  r-vertical-field" data-fieldname="SET_NOME_DA_REDE" data-signal-error-for="SET_NOME_DA_REDE{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="SET_NOME_DA_REDE" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_SET_NOME_DA_REDE}">
		
		{BEGIN SET_NOME_DA_REDE_label}{$label tb_setpoing SET_NOME_DA_REDE }{END SET_NOME_DA_REDE_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$SET_NOME_DA_REDE_value}	</div>

		
</div>


{END SET_NOME_DA_REDE_fieldblock}
											
{BEGIN SET_PASSWORD_DA_REDE_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_PASSWORD_DA_REDE}  r-vertical-field" data-fieldname="SET_PASSWORD_DA_REDE" data-signal-error-for="SET_PASSWORD_DA_REDE{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="SET_PASSWORD_DA_REDE" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_SET_PASSWORD_DA_REDE}">
		
		{BEGIN SET_PASSWORD_DA_REDE_label}{$label tb_setpoing SET_PASSWORD_DA_REDE }{END SET_PASSWORD_DA_REDE_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$SET_PASSWORD_DA_REDE_value}	</div>

		
</div>


{END SET_PASSWORD_DA_REDE_fieldblock}
											
{BEGIN SET_BLOQUEADO_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_BLOQUEADO}  r-vertical-field" data-fieldname="SET_BLOQUEADO" data-signal-error-for="SET_BLOQUEADO{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="SET_BLOQUEADO" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_SET_BLOQUEADO}">
		
		{BEGIN SET_BLOQUEADO_label}{$label tb_setpoing SET_BLOQUEADO }{END SET_BLOQUEADO_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$SET_BLOQUEADO_value}	</div>

		
</div>


{END SET_BLOQUEADO_fieldblock}
											
{BEGIN SET_OBS_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_OBS}  r-vertical-field" data-fieldname="SET_OBS" data-signal-error-for="SET_OBS{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="SET_OBS" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_SET_OBS}">
		
		{BEGIN SET_OBS_label}{$label tb_setpoing SET_OBS }{END SET_OBS_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$SET_OBS_value}	</div>

		
</div>


{END SET_OBS_fieldblock}
										</td>
			{END cellblock_grid_c3}
										</tr>
										</tbody></table>
				
{BEGIN details_tb_setpoint_email}
<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption tb_setpoint_email }				
							<span>
					{$detailslButtons_tb_setpoint_email}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_tb_setpoint_email}
		</div>
	</div>
</div>
{END details_tb_setpoint_email}
	
				{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Voltar à Lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Fechar Janela			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="tb_setpoing_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
								<li data-itemtype="view_pdf" data-itemid="view_pdf" {$item_view_pdf} data-pageid="{$pageid}" data-small >
				<a class="pdflink" data-pdfpage="view" 
data-scope="0" 
data-split="0" 
data-records="10" 
data-orientation="portrait" 
data-scale="100" 
data-filename="Tb Setpoing.pdf" 
data-pagetype="view" 
{$pdflink_attrs}  title="" >
				
		Visualização PDF		
		</a>
	</li>
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
