<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tb_setpoing search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN MON_TAG_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_MON_TAG}  r-horizontal-field form-horizontal" 
	
		data-fieldname="MON_TAG" 
	
	data-signal-error-for="MON_TAG{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="MON_TAG" >


	<label class="r-search-label control-label" for="{$labelfor_MON_TAG}">
		{$label tb_setpoing MON_TAG }	</label>
	<div class="r-search-option">
		{$searchtype_MON_TAG}
	</div>
	<div class="r-search-field">
		{$MON_TAG_editcontrol}	</div>
	<div class="r-search-field">
		{$MON_TAG_editcontrol1}
	</div>
	
</div>

{END MON_TAG_fieldblock}
											
{BEGIN MON_USER_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_MON_USER}  r-horizontal-field form-horizontal" 
	
		data-fieldname="MON_USER" 
	
	data-signal-error-for="MON_USER{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="MON_USER" >


	<label class="r-search-label control-label" for="{$labelfor_MON_USER}">
		{$label tb_setpoing MON_USER }	</label>
	<div class="r-search-option">
		{$searchtype_MON_USER}
	</div>
	<div class="r-search-field">
		{$MON_USER_editcontrol}	</div>
	<div class="r-search-field">
		{$MON_USER_editcontrol1}
	</div>
	
</div>

{END MON_USER_fieldblock}
											
{BEGIN SET_DATA_DE_CADASTRO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_DATA_DE_CADASTRO}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SET_DATA_DE_CADASTRO" 
	
	data-signal-error-for="SET_DATA_DE_CADASTRO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="SET_DATA_DE_CADASTRO" >


	<label class="r-search-label control-label" for="{$labelfor_SET_DATA_DE_CADASTRO}">
		{$label tb_setpoing SET_DATA_DE_CADASTRO }	</label>
	<div class="r-search-option">
		{$searchtype_SET_DATA_DE_CADASTRO}
	</div>
	<div class="r-search-field">
		{$SET_DATA_DE_CADASTRO_editcontrol}	</div>
	<div class="r-search-field">
		{$SET_DATA_DE_CADASTRO_editcontrol1}
	</div>
	
</div>

{END SET_DATA_DE_CADASTRO_fieldblock}
											
{BEGIN SET_MAX_T_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_MAX_T}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SET_MAX_T" 
	
	data-signal-error-for="SET_MAX_T{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="SET_MAX_T" >


	<label class="r-search-label control-label" for="{$labelfor_SET_MAX_T}">
		{$label tb_setpoing SET_MAX_T }	</label>
	<div class="r-search-option">
		{$searchtype_SET_MAX_T}
	</div>
	<div class="r-search-field">
		{$SET_MAX_T_editcontrol}	</div>
	<div class="r-search-field">
		{$SET_MAX_T_editcontrol1}
	</div>
	
</div>

{END SET_MAX_T_fieldblock}
											
{BEGIN SET_MIN_T_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_MIN_T}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SET_MIN_T" 
	
	data-signal-error-for="SET_MIN_T{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="SET_MIN_T" >


	<label class="r-search-label control-label" for="{$labelfor_SET_MIN_T}">
		{$label tb_setpoing SET_MIN_T }	</label>
	<div class="r-search-option">
		{$searchtype_SET_MIN_T}
	</div>
	<div class="r-search-field">
		{$SET_MIN_T_editcontrol}	</div>
	<div class="r-search-field">
		{$SET_MIN_T_editcontrol1}
	</div>
	
</div>

{END SET_MIN_T_fieldblock}
											
{BEGIN SET_MAX_U_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_MAX_U}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SET_MAX_U" 
	
	data-signal-error-for="SET_MAX_U{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="SET_MAX_U" >


	<label class="r-search-label control-label" for="{$labelfor_SET_MAX_U}">
		{$label tb_setpoing SET_MAX_U }	</label>
	<div class="r-search-option">
		{$searchtype_SET_MAX_U}
	</div>
	<div class="r-search-field">
		{$SET_MAX_U_editcontrol}	</div>
	<div class="r-search-field">
		{$SET_MAX_U_editcontrol1}
	</div>
	
</div>

{END SET_MAX_U_fieldblock}
											
{BEGIN SET_MIN_U_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_MIN_U}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SET_MIN_U" 
	
	data-signal-error-for="SET_MIN_U{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="SET_MIN_U" >


	<label class="r-search-label control-label" for="{$labelfor_SET_MIN_U}">
		{$label tb_setpoing SET_MIN_U }	</label>
	<div class="r-search-option">
		{$searchtype_SET_MIN_U}
	</div>
	<div class="r-search-field">
		{$SET_MIN_U_editcontrol}	</div>
	<div class="r-search-field">
		{$SET_MIN_U_editcontrol1}
	</div>
	
</div>

{END SET_MIN_U_fieldblock}
											
{BEGIN SET_LIGAR_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_LIGAR}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SET_LIGAR" 
	
	data-signal-error-for="SET_LIGAR{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="SET_LIGAR" >


	<label class="r-search-label control-label" for="{$labelfor_SET_LIGAR}">
		{$label tb_setpoing SET_LIGAR }	</label>
	<div class="r-search-option">
		{$searchtype_SET_LIGAR}
	</div>
	<div class="r-search-field">
		{$SET_LIGAR_editcontrol}	</div>
	<div class="r-search-field">
		{$SET_LIGAR_editcontrol1}
	</div>
	
</div>

{END SET_LIGAR_fieldblock}
											
{BEGIN SET_DESLIGAR_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_DESLIGAR}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SET_DESLIGAR" 
	
	data-signal-error-for="SET_DESLIGAR{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="SET_DESLIGAR" >


	<label class="r-search-label control-label" for="{$labelfor_SET_DESLIGAR}">
		{$label tb_setpoing SET_DESLIGAR }	</label>
	<div class="r-search-option">
		{$searchtype_SET_DESLIGAR}
	</div>
	<div class="r-search-field">
		{$SET_DESLIGAR_editcontrol}	</div>
	<div class="r-search-field">
		{$SET_DESLIGAR_editcontrol1}
	</div>
	
</div>

{END SET_DESLIGAR_fieldblock}
											
{BEGIN SET_TIPO_DE_CONTROLE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_TIPO_DE_CONTROLE}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SET_TIPO_DE_CONTROLE" 
	
	data-signal-error-for="SET_TIPO_DE_CONTROLE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="SET_TIPO_DE_CONTROLE" >


	<label class="r-search-label control-label" for="{$labelfor_SET_TIPO_DE_CONTROLE}">
		{$label tb_setpoing SET_TIPO_DE_CONTROLE }	</label>
	<div class="r-search-option">
		{$searchtype_SET_TIPO_DE_CONTROLE}
	</div>
	<div class="r-search-field">
		{$SET_TIPO_DE_CONTROLE_editcontrol}	</div>
	<div class="r-search-field">
		{$SET_TIPO_DE_CONTROLE_editcontrol1}
	</div>
	
</div>

{END SET_TIPO_DE_CONTROLE_fieldblock}
											
{BEGIN SET_IP_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_IP}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SET_IP" 
	
	data-signal-error-for="SET_IP{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="SET_IP" >


	<label class="r-search-label control-label" for="{$labelfor_SET_IP}">
		{$label tb_setpoing SET_IP }	</label>
	<div class="r-search-option">
		{$searchtype_SET_IP}
	</div>
	<div class="r-search-field">
		{$SET_IP_editcontrol}	</div>
	<div class="r-search-field">
		{$SET_IP_editcontrol1}
	</div>
	
</div>

{END SET_IP_fieldblock}
											
{BEGIN SET_NOME_DA_REDE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_NOME_DA_REDE}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SET_NOME_DA_REDE" 
	
	data-signal-error-for="SET_NOME_DA_REDE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="SET_NOME_DA_REDE" >


	<label class="r-search-label control-label" for="{$labelfor_SET_NOME_DA_REDE}">
		{$label tb_setpoing SET_NOME_DA_REDE }	</label>
	<div class="r-search-option">
		{$searchtype_SET_NOME_DA_REDE}
	</div>
	<div class="r-search-field">
		{$SET_NOME_DA_REDE_editcontrol}	</div>
	<div class="r-search-field">
		{$SET_NOME_DA_REDE_editcontrol1}
	</div>
	
</div>

{END SET_NOME_DA_REDE_fieldblock}
											
{BEGIN SET_PASSWORD_DA_REDE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_PASSWORD_DA_REDE}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SET_PASSWORD_DA_REDE" 
	
	data-signal-error-for="SET_PASSWORD_DA_REDE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="SET_PASSWORD_DA_REDE" >


	<label class="r-search-label control-label" for="{$labelfor_SET_PASSWORD_DA_REDE}">
		{$label tb_setpoing SET_PASSWORD_DA_REDE }	</label>
	<div class="r-search-option">
		{$searchtype_SET_PASSWORD_DA_REDE}
	</div>
	<div class="r-search-field">
		{$SET_PASSWORD_DA_REDE_editcontrol}	</div>
	<div class="r-search-field">
		{$SET_PASSWORD_DA_REDE_editcontrol1}
	</div>
	
</div>

{END SET_PASSWORD_DA_REDE_fieldblock}
											
{BEGIN SET_BLOQUEADO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_BLOQUEADO}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SET_BLOQUEADO" 
	
	data-signal-error-for="SET_BLOQUEADO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="SET_BLOQUEADO" >


	<label class="r-search-label control-label" for="{$labelfor_SET_BLOQUEADO}">
		{$label tb_setpoing SET_BLOQUEADO }	</label>
	<div class="r-search-option">
		{$searchtype_SET_BLOQUEADO}
	</div>
	<div class="r-search-field">
		{$SET_BLOQUEADO_editcontrol}	</div>
	<div class="r-search-field">
		{$SET_BLOQUEADO_editcontrol1}
	</div>
	
</div>

{END SET_BLOQUEADO_fieldblock}
											
{BEGIN SET_OBS_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SET_OBS}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SET_OBS" 
	
	data-signal-error-for="SET_OBS{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="SET_OBS" >


	<label class="r-search-label control-label" for="{$labelfor_SET_OBS}">
		{$label tb_setpoing SET_OBS }	</label>
	<div class="r-search-option">
		{$searchtype_SET_OBS}
	</div>
	<div class="r-search-field">
		{$SET_OBS_editcontrol}	</div>
	<div class="r-search-field">
		{$SET_OBS_editcontrol1}
	</div>
	
</div>

{END SET_OBS_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Limpar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Voltar à Lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancela			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
