<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tb_ticket search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN TIC_TICKET_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TIC_TICKET}  r-horizontal-field form-horizontal" 
	
		data-fieldname="TIC_TICKET" 
	
	data-signal-error-for="TIC_TICKET{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="TIC_TICKET" >


	<label class="r-search-label control-label" for="{$labelfor_TIC_TICKET}">
		{$label tb_ticket TIC_TICKET }	</label>
	<div class="r-search-option">
		{$searchtype_TIC_TICKET}
	</div>
	<div class="r-search-field">
		{$TIC_TICKET_editcontrol}	</div>
	<div class="r-search-field">
		{$TIC_TICKET_editcontrol1}
	</div>
	
</div>

{END TIC_TICKET_fieldblock}
											
{BEGIN TIC_PARENT_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TIC_PARENT}  r-horizontal-field form-horizontal" 
	
		data-fieldname="TIC_PARENT" 
	
	data-signal-error-for="TIC_PARENT{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="TIC_PARENT" >


	<label class="r-search-label control-label" for="{$labelfor_TIC_PARENT}">
		{$label tb_ticket TIC_PARENT }	</label>
	<div class="r-search-option">
		{$searchtype_TIC_PARENT}
	</div>
	<div class="r-search-field">
		{$TIC_PARENT_editcontrol}	</div>
	<div class="r-search-field">
		{$TIC_PARENT_editcontrol1}
	</div>
	
</div>

{END TIC_PARENT_fieldblock}
											
{BEGIN TIC_DATE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TIC_DATE}  r-horizontal-field form-horizontal" 
	
		data-fieldname="TIC_DATE" 
	
	data-signal-error-for="TIC_DATE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="TIC_DATE" >


	<label class="r-search-label control-label" for="{$labelfor_TIC_DATE}">
		{$label tb_ticket TIC_DATE }	</label>
	<div class="r-search-option">
		{$searchtype_TIC_DATE}
	</div>
	<div class="r-search-field">
		{$TIC_DATE_editcontrol}	</div>
	<div class="r-search-field">
		{$TIC_DATE_editcontrol1}
	</div>
	
</div>

{END TIC_DATE_fieldblock}
											
{BEGIN TIC_DATE_LAST_UPDATE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TIC_DATE_LAST_UPDATE}  r-horizontal-field form-horizontal" 
	
		data-fieldname="TIC_DATE_LAST_UPDATE" 
	
	data-signal-error-for="TIC_DATE_LAST_UPDATE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="TIC_DATE_LAST_UPDATE" >


	<label class="r-search-label control-label" for="{$labelfor_TIC_DATE_LAST_UPDATE}">
		{$label tb_ticket TIC_DATE_LAST_UPDATE }	</label>
	<div class="r-search-option">
		{$searchtype_TIC_DATE_LAST_UPDATE}
	</div>
	<div class="r-search-field">
		{$TIC_DATE_LAST_UPDATE_editcontrol}	</div>
	<div class="r-search-field">
		{$TIC_DATE_LAST_UPDATE_editcontrol1}
	</div>
	
</div>

{END TIC_DATE_LAST_UPDATE_fieldblock}
											
{BEGIN TIC_SUBJECT_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TIC_SUBJECT}  r-horizontal-field form-horizontal" 
	
		data-fieldname="TIC_SUBJECT" 
	
	data-signal-error-for="TIC_SUBJECT{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="TIC_SUBJECT" >


	<label class="r-search-label control-label" for="{$labelfor_TIC_SUBJECT}">
		{$label tb_ticket TIC_SUBJECT }	</label>
	<div class="r-search-option">
		{$searchtype_TIC_SUBJECT}
	</div>
	<div class="r-search-field">
		{$TIC_SUBJECT_editcontrol}	</div>
	<div class="r-search-field">
		{$TIC_SUBJECT_editcontrol1}
	</div>
	
</div>

{END TIC_SUBJECT_fieldblock}
											
{BEGIN TIC_SITUATION_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TIC_SITUATION}  r-horizontal-field form-horizontal" 
	
		data-fieldname="TIC_SITUATION" 
	
	data-signal-error-for="TIC_SITUATION{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="TIC_SITUATION" >


	<label class="r-search-label control-label" for="{$labelfor_TIC_SITUATION}">
		{$label tb_ticket TIC_SITUATION }	</label>
	<div class="r-search-option">
		{$searchtype_TIC_SITUATION}
	</div>
	<div class="r-search-field">
		{$TIC_SITUATION_editcontrol}	</div>
	<div class="r-search-field">
		{$TIC_SITUATION_editcontrol1}
	</div>
	
</div>

{END TIC_SITUATION_fieldblock}
											
{BEGIN TIC_DESCRIPTION_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TIC_DESCRIPTION}  r-horizontal-field form-horizontal" 
	
		data-fieldname="TIC_DESCRIPTION" 
	
	data-signal-error-for="TIC_DESCRIPTION{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="TIC_DESCRIPTION" >


	<label class="r-search-label control-label" for="{$labelfor_TIC_DESCRIPTION}">
		{$label tb_ticket TIC_DESCRIPTION }	</label>
	<div class="r-search-option">
		{$searchtype_TIC_DESCRIPTION}
	</div>
	<div class="r-search-field">
		{$TIC_DESCRIPTION_editcontrol}	</div>
	<div class="r-search-field">
		{$TIC_DESCRIPTION_editcontrol1}
	</div>
	
</div>

{END TIC_DESCRIPTION_fieldblock}
											
{BEGIN REF_REFERENCE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_REF_REFERENCE}  r-horizontal-field form-horizontal" 
	
		data-fieldname="REF_REFERENCE" 
	
	data-signal-error-for="REF_REFERENCE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="REF_REFERENCE" >


	<label class="r-search-label control-label" for="{$labelfor_REF_REFERENCE}">
		{$label tb_ticket REF_REFERENCE }	</label>
	<div class="r-search-option">
		{$searchtype_REF_REFERENCE}
	</div>
	<div class="r-search-field">
		{$REF_REFERENCE_editcontrol}	</div>
	<div class="r-search-field">
		{$REF_REFERENCE_editcontrol1}
	</div>
	
</div>

{END REF_REFERENCE_fieldblock}
											
{BEGIN TIC_COMMENT_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TIC_COMMENT}  r-horizontal-field form-horizontal" 
	
		data-fieldname="TIC_COMMENT" 
	
	data-signal-error-for="TIC_COMMENT{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="TIC_COMMENT" >


	<label class="r-search-label control-label" for="{$labelfor_TIC_COMMENT}">
		{$label tb_ticket TIC_COMMENT }	</label>
	<div class="r-search-option">
		{$searchtype_TIC_COMMENT}
	</div>
	<div class="r-search-field">
		{$TIC_COMMENT_editcontrol}	</div>
	<div class="r-search-field">
		{$TIC_COMMENT_editcontrol1}
	</div>
	
</div>

{END TIC_COMMENT_fieldblock}
											
{BEGIN CLA_CLASSIFICATION_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CLA_CLASSIFICATION}  r-horizontal-field form-horizontal" 
	
		data-fieldname="CLA_CLASSIFICATION" 
	
	data-signal-error-for="CLA_CLASSIFICATION{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="CLA_CLASSIFICATION" >


	<label class="r-search-label control-label" for="{$labelfor_CLA_CLASSIFICATION}">
		{$label tb_ticket CLA_CLASSIFICATION }	</label>
	<div class="r-search-option">
		{$searchtype_CLA_CLASSIFICATION}
	</div>
	<div class="r-search-field">
		{$CLA_CLASSIFICATION_editcontrol}	</div>
	<div class="r-search-field">
		{$CLA_CLASSIFICATION_editcontrol1}
	</div>
	
</div>

{END CLA_CLASSIFICATION_fieldblock}
											
{BEGIN LOGIN_USER_NAME_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_LOGIN_USER_NAME}  r-horizontal-field form-horizontal" 
	
		data-fieldname="LOGIN_USER_NAME" 
	
	data-signal-error-for="LOGIN_USER_NAME{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="LOGIN_USER_NAME" >


	<label class="r-search-label control-label" for="{$labelfor_LOGIN_USER_NAME}">
		{$label tb_ticket LOGIN_USER_NAME }	</label>
	<div class="r-search-option">
		{$searchtype_LOGIN_USER_NAME}
	</div>
	<div class="r-search-field">
		{$LOGIN_USER_NAME_editcontrol}	</div>
	<div class="r-search-field">
		{$LOGIN_USER_NAME_editcontrol1}
	</div>
	
</div>

{END LOGIN_USER_NAME_fieldblock}
											
{BEGIN LOGIN_USER_ID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_LOGIN_USER_ID}  r-horizontal-field form-horizontal" 
	
		data-fieldname="LOGIN_USER_ID" 
	
	data-signal-error-for="LOGIN_USER_ID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="LOGIN_USER_ID" >


	<label class="r-search-label control-label" for="{$labelfor_LOGIN_USER_ID}">
		{$label tb_ticket LOGIN_USER_ID }	</label>
	<div class="r-search-option">
		{$searchtype_LOGIN_USER_ID}
	</div>
	<div class="r-search-field">
		{$LOGIN_USER_ID_editcontrol}	</div>
	<div class="r-search-field">
		{$LOGIN_USER_ID_editcontrol1}
	</div>
	
</div>

{END LOGIN_USER_ID_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Limpar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Voltar à Lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancela			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
